/*
!README.md
!.gitignore
#
!/app
/app/*

!/app/addons
/app/addons/*

!/app/addons/gercpay
#
!/design
/design/*

!/design/backend
/design/backend/*

!/design/backend/media
/design/backend/media/*

!/design/backend/media/images
/design/backend/media/images/*

!/design/backend/media/images/addons
/design/backend/media/images/addons/*

!/design/backend/media/images/addons/gercpay
#
!/design/backend/templates
/design/backend/templates/*

!/design/backend/templates/addons
/design/backend/templates/addons/*

!/design/backend/templates/addons/gercpay
/design/backend/templates/addons/gercpay/*

!/design/backend/templates/addons/gercpay/views
/design/backend/templates/addons/gercpay/views

!/design/backend/templates/addons/gercpay/views/orders
/design/backend/templates/addons/gercpay/views/orders/*

!/design/backend/templates/addons/gercpay/views/orders/components
/design/backend/templates/addons/gercpay/views/orders/components/*

!/design/backend/templates/addons/gercpay/views/orders/components/payments
#
!/design/backend/templates/addons/gercpay/views/payments
/design/backend/templates/addons/gercpay/views/payments/*

!/design/backend/templates/addons/gercpay/views/payments/components
/design/backend/templates/addons/gercpay/views/payments/components/*

!/design/backend/templates/addons/gercpay/views/payments/components/cc_processors
#
!/images/gercpay.png
#
!var/langs/en/addons/gercpay.po
!var/langs/ru/addons/gercpay.po
!var/langs/uk/addons/gercpay.po
#
!/var
/var/*

!/var/themes_repository
/var/themes_repository/*

!/var/themes_repository/responsive
/var/themes_repository/responsive/*

!/var/themes_repository/responsive/templates
/var/themes_repository/responsive/templates/*

!/var/themes_repository/responsive/templates/addons
/var/themes_repository/responsive/templates/addons/*

!/var/themes_repository/responsive/templates/addons/gercpay
/var/themes_repository/responsive/templates/addons/gercpay/*

!/var/themes_repository/responsive/templates/addons/gercpay/views
/var/themes_repository/responsive/templates/addons/gercpay/views/*

!/var/themes_repository/responsive/templates/addons/gercpay/views/orders
/var/themes_repository/responsive/templates/addons/gercpay/views/orders/*

!/var/themes_repository/responsive/templates/addons/gercpay/views/orders/components
/var/themes_repository/responsive/templates/addons/gercpay/views/orders/components/*

!/var/themes_repository/responsive/templates/addons/gercpay/views/orders/components/payments